<a href="https://colab.research.google.com/github/Varun9213/CE888_2021/blob/main/Tf_records_generator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [32]:
import pandas as pd, numpy as np, os
import zipfile

In [11]:
def unzip(mode = "train"):
  if mode == "train":
    zip_ref = zipfile.ZipFile(f"/content/gdrive/MyDrive/Training_fire.zip", mode = 'r')
    zip_ref.extractall(path = f"/content/train/")
  else:
    zip_ref = zipfile.ZipFile(f"/content/gdrive/MyDrive/Test_fire.zip", mode = 'r')
    zip_ref.extractall(path = f"/content/test/")
  zip_ref.close

In [12]:
unzip()

In [15]:
path_fire = "/content/train/Training/Fire/"
path_nofire = "/content/train/Training/No_Fire/"

img_fire = os.listdir(path_fire)
img_nofire = os.listdir(path_nofire)

In [18]:
df_fire = pd.DataFrame(img_fire, columns=["image_name"])
df_fire["target"] = 1

In [19]:
df_fire.head()

               image_name  target
0   resized_frame7801.jpg       1
1   resized_frame7143.jpg       1
2   resized_frame9337.jpg       1
3     resized_frame39.jpg       1
4  resized_frame25999.jpg       1

In [20]:
df_nofire = pd.DataFrame(img_nofire, columns=["image_name"])
df_nofire["target"] = 0

In [21]:
df_nofire.head()

                        image_name  target
0            resized_frame3245.jpg       0
1  lake_resized_lake_frame2081.jpg       0
2  lake_resized_lake_frame3815.jpg       0
3  lake_resized_lake_frame3181.jpg       0
4  lake_resized_lake_frame9067.jpg       0

In [28]:
df = pd.concat([df_fire, df_nofire], axis=0)
df = df.sample(frac=1)

In [29]:
df.head()

                            image_name  target
1115             resized_frame4620.jpg       1
1067   lake_resized_lake_frame6930.jpg       0
14980           resized_frame21729.jpg       1
10484           resized_frame15658.jpg       1
18279           resized_frame24422.jpg       1

In [30]:
print(f"Concatenated : {df.shape[0]} , Fire : {df_fire.shape[0]}, No Fire : {df_nofire.shape[0]}")

Concatenated : 39375 , Fire : 25018, No Fire : 14357

In [31]:
df.to_csv("/content/gdrive/MyDrive/concatenated.csv", index = False)